body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #6e7dd7, #4b6cb7); 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

#navbar-placeholder {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.container {
  text-align: center;
  padding: 50px 20px;
  margin-top: 80px;
  color: #fff;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.85); 
  border-radius: 25px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 160px);
  overflow-y: auto;
  max-height: 80vh;
  backdrop-filter: blur(10px); 
}

.title {
  font-size: 55px;
  color: #2d3a79;
  font-weight: 700;
  margin-bottom: 20px;
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-out;
}

.subtitle {
  font-size: 26px;
  color: #333;
  margin-bottom: 40px;
  font-weight: 500;
}

.difficulty-options {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.difficulty-btn {
  padding: 20px 45px;
  font-size: 24px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #4CAF50; 
  color: white;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.difficulty-btn:hover {
  background-color: #45a049; 
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.difficulty-btn:active {
  transform: translateY(2px);
}

.topic-options {
  margin-top: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 30px; 
  margin-bottom: 60px; 
}

.topic-btn {
  padding: 20px 50px;
  font-size: 26px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.topic-btn:hover {
  background-color: #2980b9;
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #2d3a79;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  position: relative;
  bottom: 0;
  width: 100%;
  font-weight: 400;
  border-top: 5px solid #4CAF50;
}

footer::after {
  content: "Sarcina practică a fost realizata de elevul grupei PTPP-241 din Colegiul Universității Tehnice a Moldovei";
  display: block;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #B0C4DE;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .difficulty-options {
    flex-direction: column;
    align-items: center;
  }

  .difficulty-btn {
    width: 90%;
    max-width: 350px;
    font-size: 22px;
  }

  .title {
    font-size: 40px;
  }

  .subtitle {
    font-size: 22px;
  }

  .topic-btn {
    width: 90%;
    max-width: 350px;
    font-size: 22px;
  }
}
